<div class="photolist">
  <h2 class="photolist__title">Photos</h2>
  <div class="photolist__content">
      <div class="search">
          <input type="text" class="search__input" [(ngModel)]="photosName">
          <button type="button" class="search__button">Search</button>
      </div>
      <ul class="photolist__list">
          <li *ngFor="let photo of photos | async | photosFilter:photosName; let i=index"
              class="photolist__item">{{photo.name}}<button type="button" class="rm" (click)="removePhoto(photo)"></button></li>
      </ul>
      <div class="photolist__buttons" #btnGroup>
          <button type="button" class="photolist__apply" (click)="clickBtn($event)">Apply</button>
          <button type="button" class="photolist__removeall" (click)="clickBtn($event)">Clear All</button>
      </div>
  </div>
</div>
