@import '../assets/styles/mixins';
app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  font-family: OpenSans;
  font-size: 1rem;
  flex: 1;
  background-color: #F3E5D6;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.header {
  background: url('assets/img/header1.svg') center 75px no-repeat,
  url('assets/img/yellow_bg.svg') center top no-repeat;
  background-size: cover, cover;
  padding: 18px 0;
}
app-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.main-content {
  min-height: 100px;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  .sidebar {
    width: 310px;
  }
  .content {
    max-width: 600px;
    width: 100%;
    padding: rem(5px) rem(10px);
  }
}
.footer {
  height: rem(100px);
  background: linear-gradient(110deg,#2e2c2c 0%,#2e2c2c 45%,#292727 45%,#292727 51%,#292727 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  .copy-right {
    font-family: OpenSansLight;
    font-size: rem(14px);
    text-align: center;
    color: #fff
  }
  .footer__link {
    color: #FBCC34;
    text-decoration: none;
    &:hover, &:active {
      text-decoration: none;
      color: #C49A2F;
    }
  }
}


